{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "charset": "utf-8",
  "insertFinalNewline": true,
  "trimTrailingWhitespace": true,
  "overrides": [
    {
      "files": "*",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "trimTrailingWhitespace": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
