---
import { content } from "@content_en";
import Copy from "@/icons/copy.astro";
import type { SocialIcon } from "@/types";

const { name, linkedin, github, email } = content.basics;

const SOCIAL_ICONS: SocialIcon = {
	Copy,
};
---

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const mailElement = document.querySelector(".copy");
		if (mailElement) {
			mailElement.addEventListener("click", (e) => {
				e.preventDefault();
				const emailDisplay = document.getElementById("emailDisplay");
				if (emailDisplay) {
          emailDisplay.textContent = "I'm in your clipboard now!";
          emailDisplay.style.color = "#48bb78";
					setTimeout(() => {
						emailDisplay.textContent = "rawraul@outlook.com";
					}, 3000); // Change back to the original email after 2 seconds
				}
				navigator.clipboard.writeText("rawraul@outlook.com");
			});
		}
	});
</script>
<section id="contact" class="mt-[5rem]">
	<div>
		<h2 class="text-3xl font-bold mb-4">Contact</h2>
	</div>
	<div class="w-full">
		<!-- CONTACTS -->
		<div class="flex justify-center align-center mt-[4rem]">
			<ul>
				<li>
					<p
						class="flex items-center gap-2 hover:text-green-500 hover:underline copy cursor-none">
						<span id="emailDisplay">rawraul@outlook.com</span>
						<a class="copy"><Copy /></a>
					</p>
				</li>
				<li>
					<a
						class="hover:text-green-500 hover:underline"
            target="_blank"
						href="https://www.linkedin.com/in/raul-melo-1b1b1b1b1/">
						LinkedIn &#8599;
					</a>
				</li>
				<li>
					<a
          target="_blank"
						class="hover:text-green-500 hover:underline"
						href="https://github.com/raulmelo">GitHub &#8599;</a
					>
				</li>
			</ul>
		</div>
		<!-- PINPON ANIMATION -->
		<div class="wrapper hidden md:block">
			<div class="left_wall"></div>
			<div class="ball"></div>
			<div class="right_wall"></div>
			<div class="clear"></div>
		</div>
	</div>
</section>

<style is:global>
	.wrapper {
		margin: 0 auto;
		width: 600px;
		height: 300px;
		border-bottom: 1px solid #ffffff;
	}
	.clear {
		clear: both;
	}
	.left_wall {
		float: left;
		width: 2px;
		height: 100px;
		background: #ffffff;
		animation: left-wall 3s infinite;
	}
	.right_wall {
		float: right;
		width: 2px;
		height: 100px;
		background: #ffffff;
		animation: right-wall 3s infinite;
	}
	.ball {
		float: left;
		width: 10px;
		height: 10px;
		background: #ffffff;
		border-radius: 50%;
		margin-top: 30px;
		animation: bounce_ball 3s linear infinite;
	}
	@keyframes left-wall {
		0% {
			margin-top: 0px;
		}
		25% {
			margin-top: 200px;
		}
		100% {
			margin-top: 0px;
		}
	}
	@keyframes right-wall {
		0% {
			margin-top: 200px;
		}
		50% {
			margin-top: 0px;
		}
		100% {
			margin-top: 200px;
		}
	}
	@keyframes bounce_ball {
		0% {
			margin-top: 30px;
		}
		25% {
			margin-left: 280px; /* Ball goes to the floor */
			margin-top: 292px;
		}
		50% {
			margin-left: 585px; /* Ball goes to the right wall top */
			margin-top: 30px;
		}
		75% {
			margin-left: 280px; /* Ball goes to the floor */
			margin-top: 292px;
		}
		100% {
			margin-left: 0px;
			margin-top: 30px;
		}
	}
</style>
