---
import { content } from "@content_en";
import Copy from "@/icons/copy.astro";
import Section from "@/components/Section.astro";

const { name, linkedin, github, email } = content.basics;
---

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const mailElement = document.querySelector(".copy");
		if (mailElement) {
			mailElement.addEventListener("click", (e) => {
				e.preventDefault();
				const emailDisplay = document.getElementById("emailDisplay");
				const email = emailDisplay?.textContent;
				if (emailDisplay) {
					emailDisplay.textContent = "I'm in your clipboard now!";
					emailDisplay.style.color = "#21C55E";
					setTimeout(() => {
						emailDisplay.textContent = email || "";
					}, 3000); // Change back to the original email after 3 seconds
				}
				navigator.clipboard.writeText(email || "");
			});
		}
	});
</script>

<Section title="Find Raul on the internet">

		<div class="w-full">
			<!-- CONTACTS -->
			<div class="flex align-center">
				<ul>
					<li>
						<p
							class="flex items-center gap-2 hover:text-green-500 hover:underline copy cursor-pointer">
							<span id="emailDisplay">{email}</span>
							<a class="copy"><Copy /></a>
						</p>
					</li>
					<li>
						<a
							class="hover:text-green-500 hover:underline"
							target="_blank"
							href={linkedin}>
							LinkedIn &#8599;
						</a>
					</li>
					<li>
						<a
							target="_blank"
							class="hover:text-green-500 hover:underline"
							href={github}>GitHub &#8599;</a
						>
					</li>
				</ul>
			</div>
			<!-- PINPON ANIMATION -->
			<div class="wrapper hidden md:block">
				<div class="left_wall"></div>
				<div class="ball"></div>
				<div class="right_wall"></div>
				<div class="clear"></div>
			</div>
		</div>
	</Section>

	<style is:global>
		.wrapper {
			margin: 0 auto;
			width: 600px;
			height: 300px;
			border-bottom: 1px solid var(--text);
		}
		.clear {
			clear: both;
		}
		.left_wall {
			float: left;
			width: 2px;
			height: 100px;
			background: var(--text);
			animation: left-wall 3s infinite;
		}
		.right_wall {
			float: right;
			width: 2px;
			height: 100px;
			background: var(--text);
			animation: right-wall 3s infinite;
		}
		.ball {
			float: left;
			width: 10px;
			height: 10px;
			background: var(--text);
			border-radius: 50%;
			margin-top: 30px;
			animation: bounce_ball 3s linear infinite;
		}
		@keyframes left-wall {
			0% {
				margin-top: 0px;
			}
			25% {
				margin-top: 200px;
			}
			100% {
				margin-top: 0px;
			}
		}
		@keyframes right-wall {
			0% {
				margin-top: 200px;
			}
			50% {
				margin-top: 0px;
			}
			100% {
				margin-top: 200px;
			}
		}
		@keyframes bounce_ball {
			0% {
				margin-top: 30px;
			}
			25% {
				margin-left: 280px; /* Ball goes to the floor */
				margin-top: 292px;
			}
			50% {
				margin-left: 585px; /* Ball goes to the right wall top */
				margin-top: 30px;
			}
			75% {
				margin-left: 280px; /* Ball goes to the floor */
				margin-top: 292px;
			}
			100% {
				margin-left: 0px;
				margin-top: 30px;
			}
		}
	</style>
</Section>
