---
import { content } from "@content_en";
import { Image } from "astro:assets";

const { summary } = content.basics;
---

<section id="about">
	<div class="about__container">
		<div class="about__left-side">
			<div class="about__title">
				<span class="about__title--title">Raul Cano</span><span
					class="about__title--description">Jr. Full Stack</span
				>
			</div>
			<div class="about__description">
				<p>
					Junior full stack developer specialized in web development,
					I'm 27 years old and I live in Lisbon. My mother says that I
					developed this love for programming because when I was a
					child, I always played with Legos, and this is like digital
					Legos for adults, maybe she's right.
				</p>
			</div>
		</div>
		<div class="about__right-side">
			<div class="about__img-container">
				<Image
					class="about__img"
					src="/raul.png"
					alt="A bird."
					width="200"
					height="260"
					style={{
						maskImage: "linear-gradient(black 70%, transparent)",
					}}
				/>
			</div>
		</div>
	</div>
</section>

<style>
	.about__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 5rem;
		gap: 2rem;
	}

	.about__left-side {
		flex-basis: 67%;
	}

	.about__right-side {
	}

	.about__title {
		color: var(--text);
		font-weight: bold;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
	}
	.about__title--title {
		font-size: 1.23rem;
	}
	.about__title--description {
		font-size: 0.8rem;
		opacity: 80%;
		display: none;
	}

	.about__img {
	}
</style>
