---
import { content } from "@content_en";
import { Image } from "astro:assets";
import Preview from "@/components/blog/Preview.astro";

const { name, label, summary, summary2 } = content.basics;
---

<script>
	let i = 0;
	const txt = "IS A DEVELOPER"; 
	const speed = 60; // Speed of typing

	function typeWriter() {
		const labelElement = document.getElementById("label");
		if (labelElement) {
			// Check if the element exists
			if (i < txt.length) {
				labelElement.innerHTML += txt.charAt(i);
				i++;
				setTimeout(typeWriter, speed);
			}
		}
	}

	document.addEventListener("DOMContentLoaded", () => {
		typeWriter();
	});
</script>

<section class="mb-28">
	<div
		class="flex flex-col justify-center items-center md:flex-row gap-5 md:gap-7">
		<div class="order-2 md:order-1 flex justify-center items-center">
			<div class="w-[8rem] h-[8rem] relative">
				<img
					class="w-full h-full object-cover rounded-full transition-all hover:rotate-45"
					src="/round_profile.png"
					alt="A bird."
				/>
			</div>
		</div>

		<div class="order-1 md:order-2 flex flex-col">
			<div class="flex flex-col">
				<h1
					class="text-5xl font-bold text-center md:text-left uppercase dark:text-green-500">
					{name}
				</h1>
				<h2
					id="label"
					class="text-2xl mt-3 uppercase font-bold text-center md:text-left text-gray-700 dark:text-gray-300 min-h-[2rem]">
				</h2>
			</div>
		</div>
	</div>
</section>
<div class="mt-[5rem]">
	<p class="text-lg leading-relaxed text-gray-700 dark:text-gray-200">
		{summary}
	</p>
	<p class="mt-4 text-lg leading-relaxed text-gray-700 dark:text-gray-200">
		{summary2}
	</p>
</div>
