---
import { content } from "@content_en";
import { Image } from "astro:assets";
import Preview from "@/components/blog/Preview.astro";

const { name } = content.basics;
---

<section id="about" class="mt-28 mb-28">
	<div class="flex items-center justify-between">
		<div class="flex-1">
			<div class="font-bold">
				<h1 class="text-lg">{name}</h1>
			</div>
			<div class="mt-4">
				<p class="text-base leading-relaxed">
					Junior full stack developer specialized in web development,
					I'm 27 years old and I live in Lisbon. My mother says that I
					developed this love for programming because when I was a
					child, I always played with Legos, and this is like digital
					Legos for adults, maybe she's right.
				</p>
			</div>
		</div>
		<div>
			<div class="w-52 h-64 relative">
				<Image
					class="w-full h-full object-cover"
					src="/raul.png"
					alt="A bird."
					width="200"
					height="260"
					style={{
						maskImage: "linear-gradient(black 70%, transparent)",
					}}
				/>
			</div>
		</div>
	</div>
</section>
