---
import { content } from "@content_en";
import { Image } from "astro:assets";
import Preview from "@/components/blog/Preview.astro";

const { name } = content.basics;
---

<section class="mb-28">
	<div
		class="flex flex-col justify-center items-center md:flex-row gap-5 md:gap-7">
		<div class="order-2 md:order-1 flex justify-center items-center">
			<div class="w-[8rem] h-[8rem] relative">
				<img
					class="w-full h-full object-cover rounded-full"
					src="/round_profile.png"
					alt="A bird."
				/>
			</div>
		</div>

		<div class="order-1 md:order-2 flex flex-col">
			<div class="font-bold">
				<h1
					class="text-5xl font-bold text-center md:text-left uppercase dark:text-white">
					{name}
				</h1>
			</div>
			<div class="mt-4">
				<h2
					class="text-2xl uppercase font-bold text-center md:text-left text-gray-700 dark:text-gray-300">
					Is a developer
				</h2>
			</div>
		</div>
	</div>
	<div class="mt-[5rem]">
		<p class="text-lg leading-relaxed text-gray-700 dark:text-gray-200">
			Junior full stack developer specialized in web development, I'm 27
			years old and I live in Lisbon. My mother says that I developed this
			love for programming because when I was a child, I always played
			with Legos, and this is like digital Legos for adults, maybe she's
			right.
		</p>
	</div>
</section>
