---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PreviewImagen from "../blog/PreviewImagen.astro";

const allBlog: CollectionEntry<"blog">[] = await getCollection("blog");
---

<section>
	<h2 class="font-bold">Top 3 Blogs</h2>
	{
		allBlog.map((post) => (
			<PreviewImagen
				image={post.data.image}
				category={post.data.category}
				title={post.data.title}
				slug={post.data.slug}
			/>
		))
	}
</section>
