---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Preview from "../blog/Preview.astro";

const allBlog: CollectionEntry<"blog">[] = await getCollection("blog");
---

<section>
	<h2 class="font-bold">Top 3 Blogs</h2>
	{
		allBlog.map((post) => (
			<Preview
				emoji={post.data.emoji}
				title={post.data.title}
				slug={post.data.slug}
				votes="3"
			/>
		))
	}
</section>
