---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Navbar from "@/components/Navbar.astro";
import Projects from "@/components/sections/Projects.astro";
import TopBlog from "@/components/sections/TopBlog.astro";
import Contact from "@/components/sections/Contact.astro";
import Skills from "@/components/sections/Skills.astro";
import PageLoader from "@/components/PageLoader.astro";
---

<script>
	// Initial Fake Loader
	// document.addEventListener("DOMContentLoaded", function () {
	// 	setTimeout(function () {
	// 		const loaderElement = document.getElementById("loader");
	// 		if (loaderElement) {
	// 			loaderElement.style.display = "none";
	// 		}
	// 		const contentElement = document.getElementById("content");
	// 		if (contentElement) {
	// 			contentElement.style.display = "block";
	// 		}
	// 	}, 1500);
	// });
</script>


<Layout title="Raul Cano">
	<!-- <PageLoader id="loader" /> -->
	<!-- <main id="content" style="display: none;"> -->
	<main>
		<Navbar />
		<Hero />
		<TopBlog />
		<Projects />
		<Skills />
		<Contact />
	</main>
</Layout>


