---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Navbar from "@/components/Navbar.astro";
import Projects from "@/components/sections/Projects.astro";
import TopBlog from "@/components/sections/TopBlog.astro";
---

<Layout title="Home - Raul Cano">
	<main>
		<Navbar />
		<Hero />
		<TopBlog />
		<Projects />
	</main>
</Layout>

<style></style>
