---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Navbar from "@/components/Navbar.astro";
import Projects from "@/components/sections/Projects.astro";
import TopBlog from "@/components/sections/TopBlog.astro";
import Contact from "@/components/sections/Contact.astro";
---

<Layout title="Raul Cano">
	<main>
		<Navbar />
		<Hero />
		<TopBlog />
		<Projects />
		<Contact />
	</main>
</Layout>

<style></style>
