---

---

<nav class="navbar">
	<div class="navbar__container">
		<div class="navbar__left-side">
			<div class="navbar__home">
				<a class="navbar__home--link">Home</a>
			</div>
		</div>

		<div class="navbar__right-side">
			<div class="navbar__blog">
				<a href="/blogs/" class="navbar__blog--link">Blog</a>
			</div>
			<div class="navbar__projects">
				<a class="navbar__projects--link">Projects</a>
			</div>
			<div class="navbar__contact">
				<a class="navbar__contact--link">Contact</a>
			</div>
		</div>
	</div>
</nav>

<style>
	.navbar__container {
		color: var(--text);
		padding: 0.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: 1px solid var(--white);
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.navbar__left-side {
	}
	.navbar__right-side {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.navbar__logo {
		text-transform: lowercase;
	}

	.navbar__blog,
	.navbar__contact,
	.navbar__projects {
	}
	
	.navbar__home--link:hover, 
	.navbar__blog--link:hover,
	.navbar__projects--link:hover,
	.navbar__contact--link:hover{
		text-decoration: underline;
	}
</style>
