---

---

<nav class="navbar">
	<div class="navbar__container">
		<div>
			<a class="navbar__link-about" href="#about">
				<!-- Triangle -->
				<svg
					width="34"
					height="32"
					viewBox="0 0 34 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M1.37081 31L17 1.07991L32.6292 31H1.37081Z"
						stroke="white"></path>
				</svg>
        </a>
		</div>
		<div>
			<a class="navbar__link-projects" href="#projects">
				<!-- Circle -->
				<svg
					width="32"
					height="32"
					viewBox="0 0 32 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<circle cx="16" cy="16" r="15.5" stroke="white"></circle>
				</svg>
			</a>
		</div>
		<div>
			<a class="navbar__link-contact" href="#contact">
				<!-- Square -->
				<svg
					width="32"
					height="32"
					viewBox="0 0 32 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<rect x="0.5" y="0.5" width="31" height="31" stroke="white"
					></rect>
				</svg>
			</a>
		</div>
	</div>
</nav>

<style>
	.navbar__container {
		color: white;
		padding-bottom: 2rem;
		padding-top: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
</style>
