---
const {
	currentPage,
	totalPages,
	disablePrevious,
	disableNext,
	currentCategory,
} = Astro.props;

interface Props {
	currentCategory: string;
	currentPage: number;
	totalPages: number;
	disablePrevious: boolean;
	disableNext: boolean;
}
---

<div class="flex justify-between mt-10">
	<div class="flex-grow">
		{
			!disablePrevious && (
				<a
					href={`/blog?page=${currentPage - 1}&category=${currentCategory}`}
					class="inline-block px-3 py-2 hover:text-green-500 hover:underline rounded-lg">
					Previous
				</a>
			)
		}
	</div>
	<div class="flex-grow text-right">
		{
			!disableNext && (
				<a
					href={`/blog?page=${currentPage + 1}&category=${currentCategory}`}
					class="inline-block px-3 py-2 hover:text-green-500 hover:underline rounded-lg">
					Next
				</a>
			)
		}
	</div>
</div>
