---
interface Props {
	emoji: string;
	title: string;
	author: string;
	votes: string;
}

const { emoji, title, author, votes } = Astro.props;
---

<div class="preview">
	<div class="preview__container">
		<div class="preview__left-side">
			<div class="preview__emoji">👨🏻‍💻</div>
			<div class="preview__data">
				<p class="preview__data-title">
					How can you create custom blocks in wordpress with gutemberg
					bloks blabla blab bla
				</p>
				<p class="preview__data-author">@raulcanodev on Twitter</p>
			</div>
		</div>
		<div class="preview__right-side">
			<div class="preview__votes-container">
				<div class="preview__votes-container-arrow">⬆️</div>
				<p class="preview__votes-container-votes">13</p>
			</div>
		</div>
	</div>
</div>

<style>
	.preview {
		border: 1px solid var(--white);
		padding: 0.5rem 1rem;
    margin-top: 1rem;
	}
	.preview__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}
	.preview__left-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
	.preview__emoji {
		font-size: 2rem;
	}
	.preview__data {
	}
	.preview__data-title {
		max-width: 33rem; /* Establecer el ancho máximo */
		overflow: hidden; /* Ocultar el texto que desborda */
		white-space: nowrap; /* Evitar el salto de línea */
		text-overflow: ellipsis; /* Mostrar puntos suspensivos al final */
	}
	.preview__data-author {
		font-size: 0.8rem;
		opacity: 80%;
		display: none;
	}
	.preview__right-side {
	}
	.preview__votes-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
	.preview__votes-container-arrow {
	}
	.preview__votes-container-votes {
	}
</style>
