---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlog: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout title="posts">
	<h1>ded</h1>
  {allBlog.map(post =>(
    <p class="uppercase">{post.data.title}</p>
  ))}
</Layout>
