---
import "@fontsource/lekton";

interface Props {
	title: string;
}

const { title = 'Raul Cano' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="cursor"></div>
		<script>
			const cursor = document.querySelector(".cursor");
			document.addEventListener("mousemove", (e) => {
				cursor.style.left = e.pageX + "px";
				cursor.style.top = e.pageY + "px";
			});
		</script>
	</body>
	<style is:global>
		:root {
			--white: #ffffff;
			--dark: #000000;
			--gray: #333333;
			--light-gray: #f5f5f5;
			--background: var(--dark);
			--text: var(--white);
			--lines: rgba(255, 255, 255, 0.5);
		}
		html {
			font-size: 16px;
			font-family:
				 Monaco,
				Lucida Console,
				"Courier New",
				Courier,
				monospace;
			background: #000000;
			letter-spacing: -0.025rem;
			scroll-behavior: smooth;
			cursor: none;
		}
		body,
		figure {
			margin: 0;
			padding: 1rem 8rem;
			max-width: 1000px;
			border-left: 1px solid var(--white);
			border-right: 1px solid var(--white);
			margin: 0 auto;
			max-height: 100%;
			min-height: 100vh;
		}

		@media (max-width: 768px) {
			body,
			figure {
				padding: 0 2rem;
				max-width: 370px;

			}
		}

		a {
			text-decoration: none;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}

		h1,
		h2,
		h3,
		h4 {
			margin: 0;
			font-family:
				system-ui,
				-apple-system,
				BlinkMacSystemFont,
				"Segoe UI",
				Roboto,
				Oxygen,
				Ubuntu,
				Cantarell,
				"Open Sans",
				"Helvetica Neue",
				sans-serif;
			color: var(--text);
		}

		p {
			color: var(--text);
			font-size: 0.875rem;
			line-height: 1.5;
			margin: 0;
			text-wrap: pretty;
		}

		/* CURSOR STYLES */
		.cursor {
			position: fixed;
			width: 20px;
			background-color: white;
			height: 20px;
			border-radius: 50%;
			transition: 0.1s;
			transform: translate(-50%, -50%);
			pointer-events: none;
			mix-blend-mode: difference;
		}
		p:hover ~ .cursor {
			transform: scale(2);
		}
	</style>
</html>
