---
import Pagination from "@philnash/astro-pagination";
// https://philna.sh/blog/2023/07/13/easy-and-accessible-pagination-links-for-your-astro-collections/
import Layout from "@/layouts/Layout.astro";
import Preview from "@/components/blog/Preview.astro";
import Navbar from "@/components/Navbar.astro";
import { getCollection } from "astro:content";

const allBlog = await getCollection("blog");

const allCategories = Array.from(
	new Set(allBlog.map((post) => post.data.category))
);

let filteredBlogs = allBlog;

const selectedCategory = Astro.url.searchParams.get("category");

if (selectedCategory && selectedCategory !== "all") {
	filteredBlogs = allBlog.filter(
		(post) => post.data.category === selectedCategory
	);
}

// export async function getStaticPaths({ paginate }: any) {}
const { page } = Astro.props;
console.log(page);
---

<Layout title="Blogs">
	<Navbar />
	<div class="container">
		<form id="category-form">
			<select
				id="category-select"
				name="category"
				onchange="document.getElementById('category-form').submit()">
				<option value="all">All</option>
			</select>
		</form>
		{
			filteredBlogs.map((post) => (
				<Preview
					emoji={post.data.emoji}
					title={post.data.title}
					slug={post.data.slug}
					votes="3"
				/>
			))
		}
	</div>
	<!-- <Pagination page={page} urlPattern="/blog/page/{}" /> -->
</Layout>

<style>
	.container {
		margin-top: 5rem;
	}
</style>
